@model Tamcoc.ViewModel.InsertRoomViewModel
@{
    ViewBag.Title = "Cập nhật phòng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    <style>
        .formListProduct label {
            display: flex;
            padding: 10px;
            border: 1px solid #ccc;
        }

            .formListProduct label input {
                margin-bottom: 0;
            }

            .formListProduct label span {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }

        .formListProduct .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;
        }

        .list-product {
            max-height: 500px;
            overflow-y: auto;
        }
    </style>
}

<h2>Cập nhật phòng</h2>
<a class="btn quick-link" href="@Url.Action("ListRoom")"><i class="far fa-list mr-1"></i> Danh sách phòng</a>
<div class="box_content">
    @using (Html.BeginForm("UpdateRoom", "Room", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Room.Id)
        <div class="row">
            <div class="col-lg-8 pr-lg-5">
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Name)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.Name)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Price)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.Price)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.People)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.People)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.View)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.View)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.ListImage)</td>
                        <td class="form_text">
                            <div class="alert alert-info">
                                <p class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Chọn ảnh...</span>
                                    <input type="file" id="fileupload" name="files[]" accept="image/*" multiple="" />
                                </p><br />
                                - Chọn ảnh để upload: (gif, png, jpg, jpeg < 4MB)<br />
                                - Kích thước: 800x 800px<br />
                                - Ảnh đầu tiên sẽ là ảnh đại diện<br />
                            </div>
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <ul id="ListImages">
                                @if (Model.Room.ListImage != null)
                                {
                                    var i = 1;
                                    var arrPic = Model.Room.ListImage.Split(',');
                                    foreach (var item in arrPic)
                                    {
                                        <li>
                                            <input type="hidden" name="Pictures" value="@item" />
                                            <img src="@Path.Combine("/images/room/",item)?w=80&h=80&mode=crop" alt="" />
                                            <a href="javascript:;" id="@i" onclick="delfile( '@i')"><img src="/content/admin/icon-delete.png" alt="" /></a>
                                        </li>
                                        i = i + 1;
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Description)</td>
                        <td class="form_text">
                            @Html.EditorFor(model => model.Room.Description)
                            @Html.ValidationMessageFor(model => model.Room.Description)
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Body)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.Body)</td>
                    </tr>

                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Url)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.Url)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.TitleMeta)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.TitleMeta)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.DescriptionMeta)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Room.DescriptionMeta)</td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <input type="submit" class="btn quick-link" value="Thêm mới" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Home)</td>
                        <td class="form_text">@Html.CheckBoxFor(model => model.Room.Home)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.ShowMenu)</td>
                        <td class="form_text">@Html.CheckBoxFor(model => model.Room.ShowMenu)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Room.Active)</td>
                        <td class="form_text">@Html.CheckBoxFor(model => model.Room.Active, new { @checked = "checked" })</td>
                    </tr>
                </table>
                <div class="border p-2 mt-3">
                    <div class="group-cbx list-product formListProduct">
                        <div class="pb-1 d-flex flex-lg-column">
                            <span class="text-uppercase font-weight-bold w-100 p-1">Chọn loại phòng</span>
                        </div>
                        <div class="list">
                            @foreach (var item in Model.KindOfRooms)
                            {
                                <label class="" data-toggle="tooltip" title="@item.Name">
                                    <input type="radio" value="@item.Id" name="Room.KindOfRoomsId"  @if (Model.Room.KindOfRoomsId == item.Id) { @Html.Raw("checked") }/> @item.Name
                                </label>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/tagmanager.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js"></script>
    <script>
        $(function () {
            $("#ListImages").sortable();
            $("#ListImages").disableSelection();
        });
        var i = 1;
        $("#fileupload").fileupload({
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if (data.originalFiles[0]["type"].length && !acceptFileTypes.test(data.originalFiles[0]["type"])) {
                    uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
                }
                if (data.originalFiles[0]["size"] > 4000000) {
                    uploadErrors.push("Dung lượng ảnh lớn hơn 4MB");
                }
                var totalImg = $("#ListImages .thumb-img-box").length;
                if (totalImg >= 10) {
                    uploadErrors.push("Chỉ đăng tối đa 10 ảnh");
                }
                if (uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                    return false;
                } else {
                    data.submit();
                }
                return true;
            },
            url: "/Uploader/Upload?folder=room&r=" + Math.random(),
            dataType: "json",
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#ListImages').append('<li><input type="hidden" name="Pictures" value ="' + file.name + '" /><img src="/images/room/' + file.name + '?w=80&h=80"/><a href="javascript:;" id="' + i + '" onclick="delfile(' + i + ')"><img src="/content/admin/icon-delete.png" alt="" style="vertical-align:middle" /></a></li>');
                });
                i = i + 1;
                $("#progress").fadeOut(2000);
            },
            start: function () {
                $("#progress .progress-bar").css("width", "0");
                $("#progress").show();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#progress .progress-bar").css("width", progress + "%");
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

        function delfile(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }
    </script>
}
