@model Tamcoc.ViewModel.PropertyViewModel
@{
    ViewBag.Title = "Cập nhật thông số kỹ thuật";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cập nhật loại phòng</h2>
<div class="box_content px-300 mt-4">
    @using (Html.BeginForm("UpdateProperty", "Room", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <table class="form_table">
            @if (Model.KindOfRoom != null)
            {
                @Html.HiddenFor(m => Model.KindOfRoom.Id)
            }
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Name)</td>
                <td class="form_text">@Html.EditorFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Sort)</td>
                <td class="form_text">@Html.EditorFor(model => model.Sort)</td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <input type="submit" class="btn quick-link" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }
</div>
@Html.Action("ListProperty", "Room")