@model Tamcoc.ViewModel.BannerViewModel
@{
    ViewBag.Title = "Cập nhật banner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form_name {
        width: 150px;
    }

    .note {
        font-weight: normal;
    }
</style>
<h2>Cập nhật banner</h2>
<a class="btn quick-link" href="@Url.Action("ListBanner","Banner")"><i class="far fa-list mr-1"></i> Danh sách banner</a>
<div class="box_content px-300">
    @using (Html.BeginForm("EditBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Banner.Id)
    <table class="form_table">
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.GroupId)</td>
            <td class="form_text">
                @Html.DropDownListFor(model => model.Banner.GroupId, Model.SelectGroup, "Chọn vị trí banner", new { @class = "form_control w300" })
                @Html.ValidationMessageFor(model => model.Banner.GroupId)
            </td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.BannerName)</td>
            <td class="form_text">@Html.EditorFor(model => model.Banner.BannerName)</td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Slogan)</td>
            <td class="form_text">@Html.EditorFor(model => model.Banner.Slogan)</td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Video)</td>
            <td class="form_text">
                @Html.TextBoxFor(model => model.Banner.Video, new { type = "file" }) <span class="red-warring">Chấp nhận mp4 và dung lượng < 100MB</span><br/>
                
                @if (Model.Banner.Video != null)
                {
                    <video autoplay muted loop width="400">
                        <source src="@Path.Combine("/images/banners/", Model.Banner.Video)" type="video/mp4">
                    </video>
                }
            </td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.ListImage)</td>
            <td class="form_text">
                <div class="alert alert-info">
                    <p class="btn btn-success fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>Chọn ảnh...</span>
                        <input type="file" id="fileupload" name="files[]" accept="image/*" multiple="" />
                    </p><br />
                    - Chọn ảnh để upload: (gif, png, jpg, jpeg < 4MB)<br />
                    - Kích thước: 800x 800px<br />
                    - Ảnh đầu tiên sẽ là ảnh đại diện<br />
                </div>
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_name"></td>
            <td class="form_text">
                <ul id="ListImages">
                    @if (Model.Banner.ListImage != null)
                    {
                        var i = 1;
                        var arrPic = Model.Banner.ListImage.Split(',');
                        foreach (var item in arrPic)
                        {
                            <li>
                                <input type="hidden" name="Pictures" value="@item" />
                                <img src="@Path.Combine("/images/banners/",item)?w=80&h=80&mode=crop" alt="" />
                                <a href="javascript:;" id="@i" onclick="delfile( '@i')"><img src="/content/admin/icon-delete.png" alt="" /></a>
                            </li>
                            i = i + 1;
                        }
                    }
                </ul>
            </td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Content)</td>
            <td class="form_text">@Html.EditorFor(model => model.Banner.Content)</td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Url)</td>
            <td class="form_text">@Html.EditorFor(model => model.Banner.Url)</td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Home)</td>
            <td class="form_text">@Html.EditorFor(model => model.Banner.Home)</td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Sort)</td>
            <td class="form_text">@Html.EditorFor(model => model.Banner.Sort)</td>
        </tr>
        <tr>
            <td class="form_name">@Html.LabelFor(model => model.Banner.Active)</td>
            <td class="form_text">@Html.CheckBoxFor(model => model.Banner.Active)</td>
        </tr>
        <tr>
            <td class="form_name"></td>
            <td class="form_text">
                <input type="submit" class="btn quick-link" value="Cập nhật" />
            </td>
        </tr>
    </table>
    }
</div>
@section scripts{
    <script src="~/Scripts/tagmanager.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js"></script>
    <script>

        $(function () {
            $("#ListImages").sortable();
            $("#ListImages").disableSelection();
        });
        var i = 1;
        $("#fileupload").fileupload({
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if (data.originalFiles[0]["type"].length && !acceptFileTypes.test(data.originalFiles[0]["type"])) {
                    uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
                }
                if (data.originalFiles[0]["size"] > 4000000) {
                    uploadErrors.push("Dung lượng ảnh lớn hơn 4MB");
                }
                var totalImg = $("#ListImages .thumb-img-box").length;
                if (totalImg >= 10) {
                    uploadErrors.push("Chỉ đăng tối đa 10 ảnh");
                }
                if (uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                    return false;
                } else {
                    data.submit();
                }
                return true;
            },
            url: "/Uploader/Upload?folder=banners&r=" + Math.random(),
            dataType: "json",
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#ListImages').append('<li><input type="hidden" name="Pictures" value ="' + file.name + '" /><img src="/images/banners/' + file.name + '?w=80&h=80"/><a href="javascript:;" id="' + i + '" onclick="delfile(' + i + ')"><img src="/content/admin/icon-delete.png" alt="" style="vertical-align:middle" /></a></li>');
                });
                i = i + 1;
                $("#progress").fadeOut(2000);
            },
            start: function () {
                $("#progress .progress-bar").css("width", "0");
                $("#progress").show();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#progress .progress-bar").css("width", progress + "%");
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

        function delfile(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }

        function loadChildCategory(id) {
            $.getJSON("/ProductVcms/GetChildCategory", { parentId: id }, function (data) {
                var items = [];
                items.push("<option value>Hãy chọn danh mục</option>");
                $.each(data, function (key, val) {
                    items.push("<option value='" + val.Id + "'>" + val.CategoryName + "</option>");
                });
                $("#ChildCategoryId").html(items.join(""));
            });
        }
    </script>
}