@model Tamcoc.Models.Banner
@{
    Layout = "~/Views/Shared/_AdminIframeLayout.cshtml";
    var categoryVi = Model.BannerEns.SingleOrDefault(a => a.BannerId == Model.Id && a.LanguageId == 2);
}

<div>
    <h2>Cập nhật tiếng anh</h2>
    <div class="box_content px-300">
        @if (ViewBag.Result == 1)
        {
            <div id="AlertBox" class="alert alert-success"><strong>Cập nhật thành công</strong></div>
        }
        @using (Html.BeginForm("UpdateBannerEn", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <input type="hidden" name="BannerId" value="@Model.Id" />
            <input type="hidden" name="LangId" value="2" />
            <input type="hidden" name="GroupId" value="@Model.GroupId" />
            <table class="form_table">
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text"><strong>@Model.BannerName</strong></td>
                </tr>
                <tr>
                    <td class="form_name">Tên banner</td>
                    <td class="form_text">
                        <input type="text" name="Name" required="" maxlength="100" class="form_control w300" value="@(categoryVi?.BannerName)" />
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text">
                        <div class="mask-body">
                            @Html.Raw(Model.Slogan)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Slogan</td>
                    <td class="form_text">
                        <input type="text" name="Slogan" value="@(categoryVi?.Slogan)" class="form_control w300" />
                    </td>
                </tr>
                <tr>
                    <td class="form_name">@Html.LabelFor(model => model.Video)</td>
                    <td class="form_text">
                        <input type="file" name="Video" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="form_name">@Html.LabelFor(model => model.ListImage)</td>
                    <td class="form_text">
                        <div class="alert alert-info">
                            <p class="btn btn-success fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>Chọn ảnh...</span>
                                <input type="file" id="fileupload" name="files[]" accept="image/*" multiple="" />
                            </p><br />
                            - Chọn ảnh để upload: (gif, png, jpg, jpeg < 4MB)<br />
                            - Kích thước: 800x 800px<br />
                            - Ảnh đầu tiên sẽ là ảnh đại diện<br />
                        </div>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form_name"></td>
                    <td class="form_text">
                        <ul id="ListImages">
                            @if (categoryVi.ListImage != null)
                            {
                                var i = 1;
                                var arrPic = categoryVi.ListImage.Split(',');
                                foreach (var item in arrPic)
                                {
                                    <li>
                                        <input type="hidden" name="Pictures" value="@item" />
                                        <img src="@Path.Combine("/images/banners/",item)?w=80&h=80&mode=crop" alt="" />
                                        <a href="javascript:;" id="@i" onclick="delfile( '@i')"><img src="/content/admin/icon-delete.png" alt="" /></a>
                                    </li>
                                    i = i + 1;
                                }
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Url</td>
                    <td class="form_text">
                        <input type="text" name="Url" value="@(categoryVi?.Url)" class="form_control w300" />
                    </td>
                </tr>

                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text">
                        <div class="mask-body">
                            @Html.Raw(Model.Content)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Nội dung</td>
                    <td class="form_text">
                        <textarea class="ckeditor" name="Content">@(categoryVi?.Content)</textarea>
                    </td>
                </tr>

                <tr>
                    <td class="form_name"></td>
                    <td class="form_text"><input type="submit" class="quick-link" value="Cập nhật" /></td>
                </tr>
            </table>
        }
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $("#ListImages").sortable();
            $("#ListImages").disableSelection();
        });
        var i = 1;
        $("#fileupload").fileupload({
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                if (data.originalFiles[0]["type"].length && !acceptFileTypes.test(data.originalFiles[0]["type"])) {
                    uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
                }
                if (data.originalFiles[0]["size"] > 4000000) {
                    uploadErrors.push("Dung lượng ảnh lớn hơn 4MB");
                }
                var totalImg = $("#ListImages .thumb-img-box").length;
                if (totalImg >= 10) {
                    uploadErrors.push("Chỉ đăng tối đa 10 ảnh");
                }
                if (uploadErrors.length > 0) {
                    alert(uploadErrors.join("\n"));
                    return false;
                } else {
                    data.submit();
                }
                return true;
            },
            url: "/Uploader/Upload?folder=banners&r=" + Math.random(),
            dataType: "json",
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('#ListImages').append('<li><input type="hidden" name="Pictures" value ="' + file.name + '" /><img src="/images/banners/' + file.name + '?w=80&h=80"/><a href="javascript:;" id="' + i + '" onclick="delfile(' + i + ')"><img src="/content/admin/icon-delete.png" alt="" style="vertical-align:middle" /></a></li>');
                });
                i = i + 1;
                $("#progress").fadeOut(2000);
            },
            start: function () {
                $("#progress .progress-bar").css("width", "0");
                $("#progress").show();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#progress .progress-bar").css("width", progress + "%");
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

        function delfile(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }
    </script>
}