@model Tamcoc.ViewModel.IntroductViewModel
@{
        var config = Model.ConfigSiteDto;
        ViewBag.Title = Resources.IntroductTitle;
        ViewBag.Description = Resources.IntroductTitle;
        ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("About", new { Culture });
    }
<div class="header active position-sticky top bg-white">
    @Html.Action("Header", "Home")
</div>
<div class="banner-page" @if (config.SubHeaderImage != null) { @Html.Raw("style=\"background-image: url('" + config.SubHeaderImage + "')\"") }>
    <div class="name-page">
        @Resources.IntroductTitle
    </div>
</div>
<nav aria-label="breadcrumb" class="bg-light">
    <div class="container">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="/">@Resources.Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Resources.IntroductTitle</li>
        </ol>
    </div>
</nav>
<section class="introduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="title">
                    <div class="title_name">
                        @Resources.IntroductTitle
                    </div>
                    <div class="title_text">
                        Tamcoc Retreat
                    </div>
                </div>
                <div class="introduct-about my-4">
                    @Html.Raw(config.AboutText)
                </div>
            </div>
            <div class="col-lg-5">
                <div class="img-mask">
                    <a href="@config.AboutUrl" data-fancybox class="play-img">
                        <i class="fas fa-caret-circle-right"></i>
                    </a>

                    @if (config.AboutImage != null)
                    {
                        <img data-src="@Path.Combine("/images/configs/",config.AboutImage)" src="~/Content/images/img-main/base64.gif" alt="@config.Title" class="lazyload" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>