@model Tamcoc.ViewModel.AllRoomViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = Resources.Room;
    ViewBag.Description = Resources.Room;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Room", Culture);
}
<div class="header active position-sticky top bg-white">
    @Html.Action("Header", "Home")
</div>
<div class="banner-page">
    <div class="name-page">
        @Resources.Room
    </div>
</div>
<nav aria-label="breadcrumb" class="bg-light">
    <div class="container">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="/">@Resources.Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Resources.Room</li>
        </ol>
    </div>
</nav>
<div class="box-room">
    <div class="container">
        @foreach (var item in Model.RoomList)
        {
            <div class="box-room__item">
                <div class="col-12 col-sm-3 col-md-3">
                    <div class="room-img">
                        <a href="@Url.Action("RoomDetail", new {url = item.Url , Culture})">
                            @if (item.ListImage != null)
                            {
                                <img src="~/Content/images/img-main/base64.gif" data-src="@Path.Combine("/images/room/", item.ListImage.Split(',')[0])" alt="@item.Name" class="lazyload" />
                            }
                            else
                            {
                                <img src="~/Content/images/img-main/on-image.jpg" alt="@item.Name" class="lazyload" />
                            }
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-7 col-md-7">
                    <div class="room-info">
                        <a href="@Url.Action("RoomDetail", new {url = item.Url , Culture})" class="room-name truncate">@item.Name</a>
                        <div class="price-room">
                            <strong>@item.Price</strong> |
                            @item.People
                        </div>
                        <div class="room-view">
                            <strong>@Resources.View:</strong>
                            @item.View
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2">
                    <div class="btn-view">
                        <a href="@Url.Action("RoomDetail", new {url = item.Url , Culture})" class="btn-item">@Resources.SeeMore</a>
                    </div>
                </div>
            </div>
        }
        @if (Model.RoomList.PageCount > 1)
        {
            <div class="col-12 text-center mt-3">
                @Html.PagedListPager(Model.RoomList, page => Url.Action("Room", new { page }))
            </div>
        }
    </div>
</div>